<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfire.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.dfire.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="flowerName" property="flowerName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="resultEntity" type="com.dfire.entity.result_entity.UserResult">
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="data" property="data" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,username,flowerName,phone,email,sex,age
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `user`
        WHERE id=#{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM `user`
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM `user`
        WHERE id=#{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.dfire.entity.User">
        UPDATE `user`
        <set>
            <if test="id != null">
                id=#{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                username=#{username,jdbcType=VARCHAR },
            </if>
            <if test="flowerName != null">
                flowerName=#{flowerName,jdbcType=VARCHAR },
            </if>
            <if test="phone != null">
                phone=#{phone,jdbcType=VARCHAR },
            </if>
            <if test="email != null">
                email=#{email,jdbcType=VARCHAR },
            </if>
            <if test="sex != null">
                sex=#{sex,jdbcType=VARCHAR },
            </if>
            <if test="age != null">
                age=#{age,jdbcType=INTEGER }
            </if>
        </set>
        WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="com.dfire.entity.User">
        INSERT INTO `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="flowerName != null">
                flowerName,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="flowerName != null">
                #{flowerName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>    <!--select count(*)  ,sex  from user GROUP BY sex -->
    <select id="groupBySex" resultMap="resultEntity" >
        SELECT
        COUNT(*) AS data,sex AS label
        FROM `user` GROUP BY sex
    </select>
    <select id="groupByAge" resultMap="resultEntity">
        SELECT elt(INTERVAL(age,18,21,31,41,51),'18-20','21-30','31-40','41-50','>50')
        AS label,count(*) AS data FROM `user`
        GROUP BY elt(INTERVAL(age,18,21,31,41,51),'18-20','21-30','31-40','41-50','>50');
    </select>
</mapper>